<h1>Pages#contact</h1>

<p><%= number_to_phone "1231231234" %></p>

<p><%= number_to_currency "234" %></p>

<p><%= number_to_percentage "56.4" %></p>

<p><%= number_with_delimiter "563453453453" %></p>