<h1>Contact Me</h1>

<p>Different ways to contact me.</p>

<p><%= number_to_phone "1231231234" %></p>

<p><%= number_to_currency "234" %></p>

<p><%= number_to_percentage "56.4" %></p>

<p><%= number_with_delimiter "563453453453" %></p>