// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-card {
	padding: 15px;
}

.card-block {
	padding: 15px;
}

.card {
	padding: 15px;
}